    <div class="register-box">
      <div class="register-box-body">
        <div class="login-logo"><a href="#"><b>Lyrics</b>Share</a></div>
        <form ng-submit="vm.onSubmit()">
          <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
          <div class="form-group has-feedback">
            <input type="text" placeholder="Nombre" class="form-control" ng-model="vm.credentials.user_name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="email" placeholder="Email" class="form-control" ng-model="vm.credentials.email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" placeholder="Password" class="form-control" ng-model="vm.credentials.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          
          <div class="form-group has-feedback">
            <button type="submit" class="btn btn-success btn-block">Registrar</button>
          </div>
        </form>
        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <buttom ng-click="vm.doLoginFB()" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Ingrese Usando Facebook</buttom>
        
        </div>
        <a href="/#login?page={{ vm.returnPage }}" class="text-center">Tengo Una Cuenta</a>
      </div>
    </div>
 