extends layout

block content
  .row
      .col-md-2.col-xs-0
      .col-md-8.col-xs-12
        .box.box-widget
          .box-header.with-border
            .user-block
              img.img-circle(src='../dist/img/user1-128x128.jpg', alt='User Image')
              span.username
                a(href='#') Luis Yanque
              span.description Publico - HOY a las 7:30 PM
            .box-tools
              button.btn.btn-box-tool(type='button', data-toggle='tooltip', title='Marcar como visto')
                i.fa.fa-circle-o
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(type='button', data-widget='remove')
                i.fa.fa-times
          .box-body
            .row
              .col-md-5
                img.img-responsive.pad(src='dist/img/photo2.png', alt='Photo')
              .col-md-7
                h4.attachment-heading
                  a(href='http://www.lipsum.com/') Lorem ipsum text generator
                p
                  | I took this photo this morning. What do you guys think?khgjhgljhglkjgljgljglkjgljglglg
            button.btn.btn-default.btn-xs(type='button')
              i.fa.fa-share
              |  Share
            button.btn.btn-default.btn-xs(type='button')
              i.fa.fa-thumbs-o-up
              |  Like
            span.pull-right.text-muted 127 likes - 3 comments
        .box.box-widget
          .box-header.with-border
            .user-block
              img.img-circle(src='../dist/img/user1-128x128.jpg', alt='User Image')
              span.username
                a(href='#') Luma GaTals
              span.description Publico - HOY a las 7:30 PM
            .box-tools
              button.btn.btn-box-tool(type='button', data-toggle='tooltip', title='Marcar como visto')
                i.fa.fa-circle-o
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(type='button', data-widget='remove')
                i.fa.fa-times
          .box-body
            .row
              .col-md-5
                img.img-responsive.pad(src='dist/img/photo2.png', alt='Photo')
              .col-md-7
                h4.attachment-heading
                  a(href='http://www.lipsum.com/') Lorem ipsum text generator
                p
                  | I took this photo this morning. What do you guys think?khgjhgljhglkjgljgljglkjgljglglg
            button.btn.btn-default.btn-xs(type='button')
              i.fa.fa-share
              |  Share
            button.btn.btn-default.btn-xs(type='button')
              i.fa.fa-thumbs-o-up
              |  Like
            span.pull-right.text-muted 127 likes - 3 comments
      .col-md-2.col-xs-0
