extends layout

block content
  .row
      .col-md-2
      .col-md-8
        .box.box-success
          .box-header.with-border
            h3.box-title Subir Letra
          // form Inicio
          form.form-horizontal
            .box-body
              .form-group.has-success
                label.col-sm-2.control-label(for='Titulo') Titulo
                .col-sm-10
                  input#Titulo.form-control(type='text', placeholder='Titulo')
              .form-group.has-success
                label.col-sm-2.control-label(for='Genero') Genero
                .col-sm-10
                  input#Genero.form-control(type='text', placeholder='Genero')
              .form-group.has-success
                label.col-sm-2.control-label(for='Cancion') Cancion
                .col-sm-10
                  input#Cancion(type='file')
                  p.help-block Example block-level help text here.
              .form-group.has-success
                label.col-sm-2.control-label(for='textArea') Letra
                .col-sm-10
                  textarea#textArea.form-control(placeholder='Enter ...')
              .form-group
                .col-sm-offset-2.col-sm-10
                  .checkbox
                    label
                      input(type='checkbox')
                      |  Remember me
            .box-footer
              button.btn.btn-default(type='submit') Cancelar
              button.btn.btn-success.pull-right(type='submit') Aceptar
      .col-md-2
