extends layout

block content
  .row
      .col-md-2
      .col-md-8
        .box.box-success
          .box-header.with-border
            h3.box-title Subir Letra
          // form Inicio
          form(action='', method='post',role='form')
            .form-group.has-feedback
              input.form-control(type='text', placeholder='UserName',name='user_name')
              span.glyphicon.glyphicon-user.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='text', placeholder='titulo',name='titulo')
              span.glyphicon.glyphicon-envelope.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='text', placeholder='generos',name='genres')
              span.glyphicon.glyphicon-lock.form-control-feedback
            .form-group.has-feedback
              input.form-control(type='text', placeholder='album',name='album')
            .form-group.has-feedback
              input.form-control(type='text', placeholder='autor',name='autor')
            .form-group.has-feedback
              input.form-control(type='text', placeholder='lyrics',name='lyrics')
            .form-group.has-feedback
              input.form-control(type='text', placeholder='track',name='track')
            .form-group.has-feedback
              input.form-control(type='text', placeholder='image',name='image')
              span.glyphicon.glyphicon-log-in.form-control-feedback
            .form-group.has-feedback
            button.btn.btn-success(type='submit') Registrar
      .col-md-2