doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Lyrics Share | Registro
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='stylesheets/Login.css')
  body.hold-transition
    .register-box
      .register-box-body
        .login-logo
          a(href='#')
            b Lyrics
            | Share
        form(action='', method='post',role='form')
          .form-group.has-feedback
            input.form-control(type='text', placeholder='UserName',name='username')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='email', placeholder='Email',name='email')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password',name='password')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Retype password',name='retypepassword')
            span.glyphicon.glyphicon-log-in.form-control-feedback
          .checkbox.form-group.has-feedback
            label
              input(type='checkbox', value='')
              | Acepto los
              a(href='#') Terminos
          .form-group.has-feedback
            button.btn.btn-success.btn-block(type='submit') Registrar
        .social-auth-links.text-center
          p - OR -
          fb:login-button#facebook-login-button(appid='335608400131718', scope='public_profile,email')
            i.fa.fa-facebook
            |  Iniciar Usando Facebook
        a.text-center(href='/login') Tengo Una Cuenta
    script(src='plugins/jQuery/jquery-2.2.3.min.js')
    // Bootstrap 3.3.6
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='Facebook/js/facebookSDK.js')
