<div class="wrapper">
    <navigation></navigation>

    <aside class="main-sidebar"></aside>

    <div class="content-wrapper">
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"> 
                        <table style="width:100%;height:10%"  border="1" bordercolor="#556B2F" background="/dist/img/photo2.png" bgcolor="#0000FF" align="center">
                        <tr>
                            <td align="center">
                                
                                <marquee scrollamount="2" direction="up" font-color="#8B0000" style="align-content:center;font-weight: bold">
                                    Que bonito cuando te veo ay,<br>que bonito cuando te siento,<br>que bonito pensar que estas aquí,<br>junto a mi,<br>Que bonito cuando me hablas ay,<br>que bonito cuando te callas,<br>que bonito sentir que estas aquí,<br>junto a mi ay,<br>que bonito seria poder volar<br>y a tu lado ponerme yo a cantar,<br>como siempre... lo hacíamos los dos<br>Que mi cuerpo no para de notar,<br>que tu alma conmigo siempre esta,<br>y que nunca de mi se apartara,<br>ayyy<br>Que bonito tu pelo negro ay,<br>que bonito tu cuerpo entero,<br>que bonito mi amor todo tu ser,<br>si tu ser yy<br>Que bonito seria poder volar,<br>y a tu lado ponerme yo a cantar,<br>como siempre lo hacíamos los dos<br>Que mi cuerpo no para de notar,<br>que tu alma conmigo siempre está,<br>y que nunca de mi se apartara<br>ayyyy<br>Que bonito cuando acaricio ayy,
                                    <br>tu guitarra entre mis manos,<br>que bonito poder sentirte así,<br>siempre asíiiiii<br>ayy ayyy<br>Que bonito mi amor todo tu ser,<br>si tu ser</tr>
                                </marquee>
                            <td align="center">
                                <audio controls="controls">  Your browser does not support the <code>audio</code> element.
                                 <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg" type="audio/wav"></audio></td></td></table>

                       
                    </div>
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="user-block">
                                    <img src="/../dist/img/user1-128x128.jpg" alt="User Image" class="img-circle"/>
                                    <span class="username">
                                        <a href="#">{{vm.data.publish.user_name}} </a>
                                    </span>
                                    <span class="description">Publico {{vm.data.publish.date |date : 'd MMMM yyyy'}}</span>
                                </div>
                                <ul class="list-inline">
                                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Compartir</a></li>
                                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                                    <li class="pull-right"><a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comentarios (5)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="box panel panel-default">
                        <div class="box-header panel-heading">
                            <h3 class="box-title"> {{vm.data.publish.song.titulo}} </h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-condensed">
                                <tr>
                                    <th>GENERO</th>
                                    <td><span class="badge bg-red" ng-repeat="genres in vm.data.publish.song.genres"> {{ genres }} </span></td>
                                </tr>
                                <tr>
                                    <th>ALBUM</th>
                                    <td><span class="badge bg-yellow">{{vm.data.publish.song.album}} </span></td>
                                </tr>
                                <tr>
                                    <th>INTERPRETE</th>
                                    <td><span class="badge bg-light-blue">{{vm.data.publish.song.autor}} </span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <form>
                        <img src="/dist/img/user4-128x128.jpg" alt="Alt Text" class="img-responsive img-circle img-sm"/>
                        <div class="img-push">
                            <span class="username" style="font-weight: bold"> {{navvm.currentUser.name}}
                            <input  ng-model="vm.formCommentData.post" ng-keypress="($event.keyCode == 13)?vm.onCommentSubmit(navvm.currentUser.name):0"  type="text" name="post" placeholder="Press enter to post comment" class="form-control input-sm"/>
                        </div>
                        <!-- ng-keypress="($event.keyCode == 13) ? {{vm.onCommentSubmit()}} : 0  "
                        <button type="submit" value="enviar" class="btn btn-default"></button>-->
                    </form>
                </div>
                  <div class="col-md-12 mine" >
                    <div class="box-footer box-comments" ng-repeat="comments in vm.data.publish.comments  | orderBy:'date':true">
                        <div class="box-comment">
                            <img src="/dist/img/user4-128x128.jpg" alt="User Image" class="img-circle img-sm"/>
                            <div class="comment-text">
                                <span class="username"> {{comments.user_name}}
                                    <span class="text-muted pull-right">
                                        <commenta class="date">{{comments.date | date : 'd MM yyyy hh:mm'}}</commenta>
                                    </span>
                                </span>{{comments.post}}
                                <!---->
                                <button type="button"  ng-click="vm.popupEditForm($index)"  data-widget="remove" class="btn btn-box-tool pull-right">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" ng-click="vm.popupDeleteForm($index)"  data-widget="remove" class="btn btn-box-tool pull-right">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>




              </div>
            </div>
        </div>
    </div>
    <footer-generic></footer-generic>
</div>
